button {
    margin-top: -10px;
    margin-left: 635px;
}
.title-text {
    margin-left: 400px;
}
.title-inputs {
    margin-left: 400px;
    margin-right: 350px;
}
button {
    margin-top: 10px;
    margin-left: 700px;
}
.title-roles {
    margin-right: -100px;
}
.title-buttons {
    margin-top: 20px;
    margin-left: -1320px;
    padding-left: 500px;
    padding-right: 500px;
}
.title-myButtons {
    margin-top: 20px;
    margin-left: 1px;
}
.title-buttonUser {
    margin-left: 1px;
}
.btn-outline-primary {
    border: none;
    outline: none;
}
.myText {
    margin-right: 200px;
}
.myAdminPanel {
    margin-left: 250px;
    padding-bottom: 200px;
}
#addNewUserButton {
    align-self: center;
}
#square {
    width: 220px;
    height: 1000px;
    background: white;
}