<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:text="${userLogin.email}"></span></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:each="role : ${userLogin.getNamesOfRoles()}" th:text="${role} + ' '"></span>
        </p>
        <ul class="navbar-nav px-4">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI().equals('/admin') ? 'active bg-primary text-white' : ''}"
                       href="#" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI().equals('/user') ? 'active bg-primary text-white' : ''}"
                       href="#" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <h1>Admin panel</h1>
            <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">New User</a>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="table-responsive">
                        <h4 class="card-header">All users</h4>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Surname</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${allUsers}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.surname}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.email}"></td>
                                <td><a th:each="role : ${user.getNamesOfRoles()}" th:text="${role} + ' '"></a></td>
                                <td>
                                    <button th:data-bs-target="${'#editModal' + user.getId()}" type="button" class="btn btn-primary" data-bs-toggle="modal">Edit</button>
                                    <div class="modal fade" th:each="editUser : ${allUsers}" th:id="${'editModal' + editUser.getId()}" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form th:action="@{admin/{id}(id=${editUser.getId()})}" th:method="PATCH">
                                                    <div class="row justify-content-center">
                                                        <div class="col-6 fw-bolder">
                                                            <div class="modal-body text-center">
                                                                <div class="form-group">
                                                                    <label for="id">Id</label>
                                                                    <input type="text" disabled class="form-control" id="id" th:value="${editUser.id}" name="id">
                                                                </div><br>
                                                                <div class="form-group">
                                                                    <label for="name">Name</label>
                                                                    <input type="text" class="form-control" id="name" th:value="${editUser.name}" name="name">
                                                                </div><br>
                                                                <div class="form-group">
                                                                    <label for="surname">Surname</label>
                                                                    <input type="text" class="form-control" id="surname" th:value="${editUser.surname}" name="surname">
                                                                </div><br>
                                                                <div class="form-group">
                                                                    <label for="age">Age</label>
                                                                    <input type="number" class="form-control" id="age" th:value="${editUser.age}" name="age" min="0" max="120" step="1">
                                                                </div><br>
                                                                <div class="form-group">
                                                                    <label for="email">Email</label>
                                                                    <input type="text" class="form-control" id="email" th:value="${editUser.email}" name="email">
                                                                </div><br>
                                                                <br>
                                                                <div class="form-group">
                                                                    <label for="password">Password</label>
                                                                    <input type="password" class="form-control" id="password" th:value="${editUser.password}" name="password">
                                                                </div><br>
                                                                <div class="d-flex flex-row bd-highlight">
                                                                    <div class="form-group">
                                                                        <label for="roles">Roles:</label>
                                                                        <select id="roles" class="custom-select bd-primary"
                                                                                size="2" style="width: 200px" multiple name="roles">
                                                                            <option th:selected="${editUser.containsRoleName('ROLE_ADMIN')}" value="1">ADMIN</option>
                                                                            <option th:selected="${editUser.containsRoleName('ROLE_USER')}" value="2">USER</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Edit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" th:disabled="${user.id == userLogin.getId()}"
                                            data-bs-toggle="modal" th:data-bs-target="${'#deleteModal' + user.getId()}">Delete</button>
                                    <div class="modal fade" th:each="deleteUser : ${allUsers}" th:id="${'deleteModal' + deleteUser.getId()}" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-6 fw-bolder">
                                                        <div class="modal-body text-center">
                                                            <form role="form">
                                                                <div class="form-group">
                                                                    <label for="idDel">Id</label>
                                                                    <input type="text" disabled class="form-control" id="idDel" th:placeholder="${deleteUser.id}">
                                                                </div><br>
                                                                <div class="form-group">
                                                                    <label for="nameDel">Name</label>
                                                                    <input type="text" disabled class="form-control" id="nameDel" th:placeholder="${deleteUser.name}">
                                                                </div><br>
                                                                <div class="form-group">
                                                                    <label for="surnameDel">Surname</label>
                                                                    <input type="text" disabled class="form-control" id="surnameDel" th:placeholder="${deleteUser.surname}">
                                                                </div><br>
                                                                <div class="form-group">
                                                                    <label for="ageDel">Age</label>
                                                                    <input type="text" disabled class="form-control" id="ageDel" th:placeholder="${deleteUser.age}">
                                                                </div><br>
                                                                <div class="form-group">
                                                                    <label for="emailDel">Email</label>
                                                                    <input type="text" disabled class="form-control" id="emailDel" th:placeholder="${deleteUser.email}">
                                                                </div><br>
                                                                <br>
                                                                <div class="d-flex flex-row bd-highlight">
                                                                    <div class="form-group">
                                                                        <label for="rolesDel">Roles:</label>
                                                                        <select disabled id="rolesDel" class="custom-select bd-primary"
                                                                                size="2" style="width: 210px" multiple name="roles">
                                                                            <option th:selected="${deleteUser.containsRoleName('ROLE_ADMIN')}" value="1">ADMIN</option>
                                                                            <option th:selected="${deleteUser.containsRoleName('ROLE_USER')}" value="2">USER</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${deleteUser.id})}">
                                                        <input type="submit" value="Delete" class="btn btn-danger"/>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="table-responsive text-center fw-bolder" style="overflow-x: hidden" >
                        <h4 class="card-header text-start">Add new user</h4>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <form th:method="POST" th:action="@{/admin/new}" th:object="${newUser}">
                                    <br>
                                    <div class="form-group">
                                        <label for="newName">Name</label>
                                        <input type="text" class="form-control" id="newName"
                                               placeholder="Enter name" th:field="*{name}">
                                    </div><br>
                                    <div class="form-group">
                                        <label for="newSurname">Surname</label>
                                        <input type="text" class="form-control" id="newSurname"
                                               placeholder="Enter surname" th:field="*{surname}">
                                    </div><br>
                                    <div class="form-group">
                                        <label for="newAge">Age</label>
                                        <input type="text" class="form-control" id="newAge"
                                               placeholder="Enter age" th:field="*{age}">
                                    </div><br>
                                    <div class="form-group">
                                        <label for="newEmail">Email</label>
                                        <input type="text" class="form-control" id="newEmail"
                                               placeholder="Enter email" th:field="*{email}">
                                    </div><br>
                                    <div class="form-group">
                                        <label for="newPassword">Password</label>
                                        <input type="password" class="form-control" id="newPassword"
                                               placeholder="Enter password"  th:field="*{password}">
                                    </div><br>
                                    <div class="form-group">
                                        <label for="role">Role</label><br>
                                        <select style="width: 100%" class="custom-select" id="role" size="2" multiple name="roles">
                                            <option value="1">ADMIN</option>
                                            <option value="2">USER</option>
                                        </select><br>
                                    </div>
                                    <button type="submit" class="btn btn-success">Add new user</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>